html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    background-color: black;
    color: aliceblue;
}
.banner {
    text-align: center;
    background-color: #7e7474f8;
    padding: 10px;
}

.container {
    background-color: #7e7474f8;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

h2 { padding: 10px;
}

ul, 
ol {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    flex: auto;
    min-width: min-content;
    margin: 10px;
    padding: 5px;
    background-color: aquamarine;
    color: black;
}